# Applied Data Science Capstone - Week 3

## Segmenting and Clustering Neighborhoods in the city of Toronto, Canada

#### Author: Alejandro Del Campo

##### 
##### First of all, instal all the libraries that I will need in this step

In [1]:
import pandas as pd
#!pip install lxml
!pip install lxml bs4 html5lib
import lxml
#!conda install -c anaconda lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.2)
Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.3)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.2)

##### 
##### Next, copy the url and use the read_html command to read all de tables of the URL, then introduce the first table in the dataframe

In [2]:
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikitable=pd.read_html(page,flavor='html5lib')
toronto_df=wikitable[0]
toronto_df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

##### The shape of the original dataframe

In [3]:
print('The  shape of dataframe is:',toronto_df.shape)

The  shape of dataframe is: (180, 3)

##### Let's drop the Postal Codes without any borough assigned

In [4]:
#Let's drop the row without Borough and Neighbourhood
df_to=toronto_df[toronto_df.Borough != 'Not assigned']
print('The new shape of dataframe is:',df_to.shape)
df_to=df_to.reset_index(drop=True)
df_to.head()

The new shape of dataframe is: (103, 3)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Step 2: Obtaining the coordinates of Toronto Neighbourhoods

In [5]:
!wget -O Geospatial_data.csv http://cocl.us/Geospatial_data
coord = pd.read_csv("Geospatial_data.csv", delimiter=",")

--2021-02-10 10:40:12--  http://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.63.96.176, 169.63.96.194
Connecting to cocl.us (cocl.us)|169.63.96.176|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data [following]
--2021-02-10 10:40:12--  https://cocl.us/Geospatial_data
Connecting to cocl.us (cocl.us)|169.63.96.176|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-02-10 10:40:13--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-02-10 10:40:13--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-02-10 10:40:13--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.29.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.29.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!EvxjhrhzYT17Ls63_XnycaXxEmU8KDnYPBhwtZAIMpJ_nP1QXMK49sRWjoI9AXJRd6GFX5Bn3-2Zi24C_kDR4rSgnjcZy6r4cgpInBV4z1JZB_FrMaz89C51xkUtxTwPaHiQx-EOIVlU_TIFWqR5ucbxKhW3L1x6HatIJoKn32pKnDxCs0USSWWfI5DmvsFL8LnHZgl45bPwrEbvIt16Rocou7Any7J5y5ZXaiGsRGGp3130twavfNk9DySb7dnYdTFaV-7SbwAIVUt9odxAWNUQrHWKLPI-yDB-b2a3QRzRbjr59SDMtl96Q_oplY6A_Zpny890kDw2wkUHYMts0Lf4k3HSa04i8SqplDanDmDtCFBUuDZSm23Lk2-PK2m8_9aHCJCKKvtUjAoAerJXfoOr1ZW8-hRvnyzqiT6R7BNfubdU7Pysc-MovD4cdTxtF2OybkxFrAs43WXKwKq_7EU9lh4tWnJxwizM2reBNWKw8zDWEroGiZyk3DKYM8teawYoWYy4jw-NBbvo5n6i42WPdQM1B1AXnjFAwUeC5UXdhV7zaxw_OG_BT8FIvf69KDk5dkPCjfaQ_u364P7lBH1tZSR_FJTw2XjR4UnCJiEn7m_p3DjzLbWj61YxDl5Q8dIWjcIKSFgHMdqf8bjNnPGUFT0SWeQoVV5lZcJ9eXGFNk-GkjmnTO8P3TgtLke7MoH7-tPx5_CFe88gTDoco6qWI-ggdU9h2g-tk9KpeEeRB_GoWBLLhwpxY_pExJf_JXhsBzaQPKQrZasZ9Q0cIJFNktYwXRjr6Rd0SbiwwBzU8gC9o7ws5fDsJuArGpJXNcvGgj-FJ4jT0dRc_FkBQ4VTfPa0Tfi0c5NVgUpSeNioEXTv-QBrPDwW1bif66VmgW-ki602dTRwsca9aTPKFmLjf-O-AwjInHTJ7L5-F5oWgUFIgEqrmD0wEGsieWpn19k3QL1YUhqeDV7bIJLfiwee9-CPCjcJoxvSG-EFxNMIaV7EBi9yt088lqcRpYHzFzsKz-lhrnAHB05fHI0S1fZUgWLpgAxDg30BtYoAU_2zoBrOWC31_jwI8FLi_stER2XpARKAIyiRpU03WootuclKiR6L0SChVvwRR80dPM0IOMBs86fPzknB520l0MyWZaXX0PQEHeo0oJHSxs6decZujcrK6pK-4hrF1-Ex30o7T81GqYs6COMCFIWEB_AeXgaYRtFKuoMf_bd-qfReq5WYxqz9KaGhAMnAQEVw1UZGlPfVMZZ02ky2xKNROR_GeHm5HVS7w4zVGKhRw0H2qkTFJTZJeaqGaZ1z13NbejaT2Ggmm4WgsmtuNWcj0O1M15IwZMav6Xc-1uhyfREjy3iPoTq-hE27EFyOIoSpvdhbGwDkba3CTHvGJnmlMoOgsLRV15rscnkauvwi4ZkATrDrwhrjbFhEex0OkCR_4b7MQQ../download [following]
--2021-02-10 10:40:14--  https://public.boxcloud.com/d/1/b1!EvxjhrhzYT17Ls63_XnycaXxEmU8KDnYPBhwtZAIMpJ_nP1QXMK49sRWjoI9AXJRd6GFX5Bn3-2Zi24C_kDR4rSgnjcZy6r4cgpInBV4z1JZB_FrMaz89C51xkUtxTwPaHiQx-EOIVlU_TIFWqR5ucbxKhW3L1x6HatIJoKn32pKnDxCs0USSWWfI5DmvsFL8LnHZgl45bPwrEbvIt16Rocou7Any7J5y5ZXaiGsRGGp3130twavfNk9DySb7dnYdTFaV-7SbwAIVUt9odxAWNUQrHWKLPI-yDB-b2a3QRzRbjr59SDMtl96Q_oplY6A_Zpny890kDw2wkUHYMts0Lf4k3HSa04i8SqplDanDmDtCFBUuDZSm23Lk2-PK2m8_9aHCJCKKvtUjAoAerJXfoOr1ZW8-hRvnyzqiT6R7BNfubdU7Pysc-MovD4cdTxtF2OybkxFrAs43WXKwKq_7EU9lh4tWnJxwizM2reBNWKw8zDWEroGiZyk3DKYM8teawYoWYy4jw-NBbvo5n6i42WPdQM1B1AXnjFAwUeC5UXdhV7zaxw_OG_BT8FIvf69KDk5dkPCjfaQ_u364P7lBH1tZSR_FJTw2XjR4UnCJiEn7m_p3DjzLbWj61YxDl5Q8dIWjcIKSFgHMdqf8bjNnPGUFT0SWeQoVV5lZcJ9eXGFNk-GkjmnTO8P3TgtLke7MoH7-tPx5_CFe88gTDoco6qWI-ggdU9h2g-tk9KpeEeRB_GoWBLLhwpxY_pExJf_JXhsBzaQPKQrZasZ9Q0cIJFNktYwXRjr6Rd0SbiwwBzU8gC9o7ws5fDsJuArGpJXNcvGgj-FJ4jT0dRc_FkBQ4VTfPa0Tfi0c5NVgUpSeNioEXTv-QBrPDwW1bif66VmgW-ki602dTRwsca9aTPKFmLjf-O-AwjInHTJ7L5-F5oWgUFIgEqrmD0wEGsieWpn19k3QL1YUhqeDV7bIJLfiwee9-CPCjcJoxvSG-EFxNMIaV7EBi9yt088lqcRpYHzFzsKz-lhrnAHB05fHI0S1fZUgWLpgAxDg30BtYoAU_2zoBrOWC31_jwI8FLi_stER2XpARKAIyiRpU03WootuclKiR6L0SChVvwRR80dPM0IOMBs86fPzknB520l0MyWZaXX0PQEHeo0oJHSxs6decZujcrK6pK-4hrF1-Ex30o7T81GqYs6COMCFIWEB_AeXgaYRtFKuoMf_bd-qfReq5WYxqz9KaGhAMnAQEVw1UZGlPfVMZZ02ky2xKNROR_GeHm5HVS7w4zVGKhRw0H2qkTFJTZJeaqGaZ1z13NbejaT2Ggmm4WgsmtuNWcj0O1M15IwZMav6Xc-1uhyfREjy3iPoTq-hE27EFyOIoSpvdhbGwDkba3CTHvGJnmlMoOgsLRV15rscnkauvwi4ZkATrDrwhrjbFhEex0OkCR_4b7MQQ../download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.27.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.27.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_data.csv’

Geospatial_data.csv 100%[===================>]   2.82K  --.-KB/s    in 0.001s

2021-02-10 10:40:14 (5.21 MB/s) - ‘Geospatial_data.csv’ saved [2891/2891]

In [6]:
coord[0:5]

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
coord.shape

(103, 3)

#### I have in the dataframe "coord" the coordinates of all the Postal Codes, now i introduce them in the toronto neighbourhood dataframe

In [10]:
import numpy as np

df_to['Latitude'] = ""
df_to['Longitude'] = ""

for postcod in coord['Postal Code']:
    Lat = coord[coord['Postal Code']==postcod]['Latitude']
    Lat=float(Lat.values)
    Long = coord[coord['Postal Code']==postcod]['Longitude']
    Long=float(Long.values)
    
    reqd_Index = df_to[df_to['Postal Code']==postcod].index.tolist()
    index = reqd_Index[0]
    df_to.at[index,'Latitude']=Lat
    df_to.at[index,'Longitude']=Long

df_to.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7533,-79.3297
1,M4A,North York,Victoria Village,43.7259,-79.3156
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6543,-79.3606
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.7185,-79.4648
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.6623,-79.3895

In [11]:
df_to.shape

(103, 5)